<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.user.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.user.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProduct</servlet-name>
        <servlet-class>com.product.AllProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>com.session.session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesProduct</servlet-name>
        <servlet-class>com.product.DesProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProduct</servlet-name>
        <servlet-class>com.product.FindProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShoppingCart</servlet-name>
        <servlet-class>com.user.UserShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShoppingCart</servlet-name>
        <servlet-class>com.user.AddShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImmdediateBuy</servlet-name>
        <servlet-class>com.user.ImmdediateBuy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartBuy</servlet-name>
        <servlet-class>com.user.CartBuy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowIndent</servlet-name>
        <servlet-class>com.user.ShowIndent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRequest</servlet-name>
        <servlet-class>com.user.UserRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCart</servlet-name>
        <servlet-class>com.user.ShowCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelProduct</servlet-name>
        <servlet-class>com.user.UserDelProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateInf</servlet-name>
        <servlet-class>com.user.UserUpdateInf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRecharge</servlet-name>
        <servlet-class>com.user.UserRecharge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdatePwd</servlet-name>
        <servlet-class>com.user.UserUpdatePwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionInvalidate</servlet-name>
        <servlet-class>com.session.SessionInvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveProduct</servlet-name>
        <servlet-class>com.user.ReceiveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.admin.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelProduct</servlet-name>
        <servlet-class>com.admin.DelProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductInf</servlet-name>
        <servlet-class>com.admin.UpdateProductInf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllIndent</servlet-name>
        <servlet-class>com.admin.ViewAllIndent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shipment</servlet-name>
        <servlet-class>com.admin.Shipment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserComment</servlet-name>
        <servlet-class>com.user.UserComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAllProduct</servlet-name>
        <servlet-class>com.admin.AdminAllProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllComment</servlet-name>
        <servlet-class>com.product.AllComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProduct</servlet-name>
        <url-pattern>/AllProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesProduct</servlet-name>
        <url-pattern>/DesProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProduct</servlet-name>
        <url-pattern>/FindProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShoppingCart</servlet-name>
        <url-pattern>/UserShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShoppingCart</servlet-name>
        <url-pattern>/AddShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImmdediateBuy</servlet-name>
        <url-pattern>/ImmdediateBuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartBuy</servlet-name>
        <url-pattern>/CartBuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowIndent</servlet-name>
        <url-pattern>/ShowIndent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRequest</servlet-name>
        <url-pattern>/UserRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCart</servlet-name>
        <url-pattern>/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelProduct</servlet-name>
        <url-pattern>/UserDelProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateInf</servlet-name>
        <url-pattern>/UserUpdateInf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRecharge</servlet-name>
        <url-pattern>/UserRecharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdatePwd</servlet-name>
        <url-pattern>/UserUpdatePwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionInvalidate</servlet-name>
        <url-pattern>/SessionInvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveProduct</servlet-name>
        <url-pattern>/ReceiveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelProduct</servlet-name>
        <url-pattern>/DelProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductInf</servlet-name>
        <url-pattern>/UpdateProductInf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllIndent</servlet-name>
        <url-pattern>/ViewAllIndent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shipment</servlet-name>
        <url-pattern>/Shipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserComment</servlet-name>
        <url-pattern>/UserComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAllProduct</servlet-name>
        <url-pattern>/AdminAllProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllComment</servlet-name>
        <url-pattern>/AllComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
